<div class="flex justify-center px-4 sm:px-12 lg:px-24 font-lato " [style.fontFamily]="fontType">
	<div class="w-full max-w-lg h-screen md:shadow-2xl " [style.backgroundColor]="backgroundColor">
	  <div class="pr-4 pt-1">
		<img src="icons/mobileEnglish.svg" class="float-right w-28 h-14 rounded-lg" />
	  </div>
	  <div class="flex flex-row p-4 sm:p-8">
		<img src="icons/cardStream.svg" class="w-18 h-10 pr-4 bg-white" />
		<h1 class="pt-4 font-extrabold text-xl">Test Shop</h1>
	  </div>
	  <div class="px-4 sm:px-6">
		<div class="flex justify-between bg-red-100 p-4 rounded-lg opacity-90" [style.backgroundColor]="brandColor">
		  <h1 class="font-extrabold text-xl">Total</h1>
		  <div class="flex flex-row">
			<h1 class="font-extrabold text-xl pr-2">8,00Kr</h1>
			<h1 class="bg-zinc-50 text-gray-400 w-8 text-bold text-center border-gray-400 rounded-md">+</h1>
		  </div>
		</div>
	  </div>
  
	  <div class="flex justify-center p-4">
		<h1 class="font-bold text-lg">Select how to pay</h1>
	  </div>
	
	<div class="px-4 sm:px-8" [ngClass]="buttonShape">
  		<div class="flex flex-row justify-center bg-black p-2 mb-2"
       			[ngClass]="{
         			'rounded-lg': buttonShape === 'rounded','rounded-full': buttonShape === 'pill','border': buttonShape === 'edgy'}">
    			<h1 class="text-white text-lg">Pay with</h1>
   			 <img src="icons/appleLogo.svg" class="ml-2" />
    			<h1 class="text-white text-lg">Pay</h1>
  		</div>
	</div>

	<div class="px-4 sm:px-8" [ngClass]="buttonShape">
  		<div class="flex flex-row justify-center bg-black p-2 mb-2"
       				[ngClass]="{
         				'rounded-lg': buttonShape === 'rounded',
         				'rounded-full': buttonShape === 'pill',
         				'border': buttonShape === 'edgy'
       						}">
    			<h1 class="text-white text-lg">Pay with</h1>
    			<img src="icons/googleIcon.svg" class="ml-2" />
    			<h1 class="text-white text-lg">Pay</h1>
  		</div>
	</div>

	  <form class="px-4 sm:px-8 pt-2">
		<div class="border-2 border-red-200 rounded-lg">
		  <div class="flex flex-row p-2 bg-red-100 opacity-90 justify-between" [style.backgroundColor]="brandColor">
			<div class="flex flex-row rounded-md">
			  <img src="icons/creditCardIcon.svg" class="w-6 h-6 rounded-md" />
			  <h1 class="font-bold p-1 text-sm">Card</h1>
			</div>
			<div class="flex flex-row" >
			  <img src="icons/checkRed.svg" class="w-6 h-6 justify-between rounded-full bg-red-200" [style.backgroundColor]="accentColor" />
			</div>
		  </div>
  
		  <div class="p-2">
			<h1 class="font-extrabold text-lg">Card Details</h1>
		  </div>
		  <div class="px-4 flex flex-col">
			<h1 class="p-4 bg-red-100 opacity-90 rounded-lg mb-2 text-gray-400" [style.backgroundColor]="brandColor">Card Number</h1>
			<h1 class="p-4 bg-red-100 opacity-90 rounded-lg text-gray-400" [style.backgroundColor]="brandColor">Name on Card</h1>
		  </div>
  
		  <div class="px-4 pt-6">
			<h1 class="font-extrabold text-lg">Contact Information</h1>
		  </div>
		  <div class="px-4">
			<h1 class="p-4 mb-2 bg-red-100 opacity-90 rounded-lg text-gray-400" [style.backgroundColor]="brandColor">Email Address</h1>
		  </div>
		</div>
  

		<div class="pt-4 flex justify-center">
  			<button type="button" class="bg-zinc-200 w-full h-16 sm:h-20"
          			[ngClass]="{
            				'rounded-full': buttonShape === 'pill' || !buttonShape,
            				'rounded-lg': buttonShape === 'rounded',
            				'border': buttonShape === 'edgy'
          				}">
    			<div class="flex flex-row justify-between">
      				<h1 class="p-3 text-zinc-500 pl-8">Pay by card</h1>
      				<h1 class="p-3 text-zinc-500 font-extrabold">8,00 kr >></h1>
    			</div>
  			
			</button>
		</div>


		<div class="flex flex-row justify-center p-2">
		  <img src="icons/lockIcon.png" class="w-6 h-4" />
		  <h1 class="text-gray-700 text-sm">Secure payments powered by</h1>
		  <img src="icons/logo.svg" class="w-20 gap-2" />
		</div>
  
		<div class="flex justify-center p-6">
		  <img src="icons/cardStream.svg" class="w-18 h-10" />
		</div>
		<div class="flex justify-center p-2">
		  <h1 class="text-indigo-950 py-2">Test AB(Org. No. 5590637665)</h1>
		</div>
		<div class="flex justify-center">
		  <h1 class="text-indigo-950">Akshaya apartments, 11121 LEKSAND</h1>
		</div>
		<div class="flex flex-row justify-center p-4">
		  <div class="flex flex-row pr-4">
			<img src="icons/orangeLink.svg" class="rotate-45" />
			<u class="text-orange-600">Terms and Conditions</u>
		  </div>
		  <div class="flex flex-row">
			<img src="icons/blackLink.svg" class="rotate-45" />
			<h1 class="text-indigo-950">Privacy Policy</h1>
		  </div>
		</div>
	  </form>
	</div>
  </div>
  
