<nav class="bg-white dark:bg-gray-900 fixed sm:w-full md:w-40 z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600 font-lato">
	<div class="max-h-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
		<div class="flex md:order-2  ">
			<button (click)="toggleMenu()" data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center  h-2 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        		</svg>
			</button>
		</div>
		
		<div [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
			<ul class="flex flex-col h-screen p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-y-8 rtl:space-y-reverse md:flex-col md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
				<li>
					<label class=" text-white text-sm rounded md:bg-transparent md:text-white md:p-0 dark:text-white md:dark:text-white font-bold">Desktop screen</label>
					<img src="icons/computerIcon.svg" (click)="desktopView()" class="cursor-pointer  w-12 h-6 sm:w-12 sm:h-12 " />
				</li>
	
	  			<li>
					<label class="text-white text-sm rounded md:bg-transparent md:text-white md:p-0 dark:text-white md:dark:text-white font-bold">Upload Logo</label>
					<div class="pt-2">
						<input type="file" id="logo-upload" (change)="onLogoUpload($event)"  class="w-24 h-8 border rounded-md cursor-pointer"/>
					</div>
				</li>

    			<li>
					<label class="text-white text-sm rounded md:bg-transparent md:text-white md:p-0 dark:text-white md:dark:text-white font-bold">Brand color</label>
					<div class="pt-2">
						<input type="color" id="brand-color" [(ngModel)]="brandColor" (input)="updateBrColor(brandColor)" class="w-10 h-10 border rounded-full cursor-pointer"/>
    				</div>
				</li>

    			<li>
					<label class="text-white text-sm rounded md:bg-transparent md:text-white md:p-0 dark:text-white md:dark:text-white font-bold">Accent color</label>
        			<div class="pt-2">
						<input type="color" id="accent-color" [(ngModel)]="accentColor" (input)="updateAccentColor(accentColor)" class="w-10 h-10 border rounded-full cursor-pointer"/>
    				</div>
				</li>
            
				<li>
					<label class="text-white text-sm rounded md:bg-transparent md:text-white md:p-0 dark:text-white md:dark:text-white font-bold">Button shape</label>
        			<div class="pt-2"> 
	 					<select id="buttons" [(ngModel)]="buttonShape" (change)="updateButtons(buttonShape)" class="mt-2 w-24 h-6 border rounded-md">
            				<option value="rounded">Rounded</option>
            				<option value="pill">Pill</option>
            				<option value="edgy">Edgy</option>
          				</select>
					</div>
        		</li>

        		<li>
					<label class="text-white text-sm rounded md:bg-transparent md:text-white md:p-0 dark:text-white md:dark:text-white font-bold">Font family</label>
        			<div class="pt-2">  
						<select id="font-family" [(ngModel)]="fontType" (change)="updateFontType(fontType)" class="mt-2 w-24 h-6 border rounded-md">
            				<option value="Arial, sans-serif" class="text-small">sans-serif</option>
            				<option value="Courier New, Courier, monospace">mono</option>
            				<option value="Georgia, serif">serif</option>
          				</select>
					</div>
        		</li>

  				<li class="pt-2">
        			<button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 "(click)="updateBranding()">Update</button>
        		</li>
			</ul>
		</div>
	</div>
</nav>



<div class="flex justify-center px-4 sm:px-12 lg:px-24 font-lato " [style.fontFamily]="fontType">
	<div class="w-full max-w-lg h-screen md:shadow-2xl">
	  <div class="bg-indigo-100 float-right p-3 w-32 h-10 rounded-full flex justify-center items-center" style="transform: translateY(4px);">
		<img src="icons/languageIcon.svg" class="w-24 h-10 rounded-full" />
	 </div>
	 
	 <div class="flex flex-row  sm:p-8 pt-6">
		<img [src]="logoUrl"  class="w-28 h-20 "/>
		<h1 class="pt-6 font-extrabold text-xl ">Test Shop</h1>
	</div>
	<div class="px-4 sm:px-8">
		<div class="flex justify-between bg-indigo-100 p-4 rounded-lg opacity-90" [style.backgroundColor]="brandColor">
			<h3 class="font-extrabold text-xl">Total</h3>
			<div class="flex flex-row">
				<h3 class="font-extrabold text-xl pr-2">8,00Kr</h3>
				<p class="bg-zinc-300 text-zinc-800 w-8 text-bold text-center border-zinc-300 rounded-md" [style.backgroundColor]="accentColor">+</p>
			</div>
		</div>
	  </div>
  
	<div class="flex justify-center p-4">
		<h1 class="font-bold text-lg">Select how to pay</h1>
	</div>
	
	<div class="px-4 sm:px-8 ">
		<button class="flex flex-row justify-center w-full bg-black p-2 mb-2 text-white"
		  [ngClass]="{
			'rounded-lg': buttonShape === 'rounded',
			'rounded-full': buttonShape === 'pill',
			'border': buttonShape === 'edgy'
		  }">
		  <p class="text-lg">Pay with</p>
		  <img src="icons/appleLogo.svg" class="pl-2" alt="Apple Pay Logo"/>
		  <p class="text-lg">Pay</p>
		</button>
	</div>
	  
	<div class="px-4 sm:px-8">
  		<button class="flex flex-row justify-center w-full bg-black p-2 mb-2 text-white" 
       				[ngClass]="{
         				'rounded-lg': buttonShape === 'rounded',
         				'rounded-full': buttonShape === 'pill',
         				'border': buttonShape === 'edgy'
       						}">
							<p class="text-lg">Pay with</p>
							<img src="icons/googleIcon.svg" class="pl-2 pt-1" />
							<p class="text-lg">Pay</p>
		</button>
	</div>
	<form class="px-4 sm:px-8 pt-2">
		<div class="border-2 border-indigo-200 rounded-lg">
			<div class="flex flex-row p-2 bg-indigo-100 opacity-90 justify-between" [style.backgroundColor]="brandColor">
				<div class="flex flex-row rounded-md">
					<img src="icons/creditCardIcon.svg" class="w-6 h-6 rounded-md" />
					<h2 class="font-bold p-1 text-sm">Card</h2>
				</div>
				<div class="flex flex-row" >
					<img src="icons/checkIcon.svg" class="w-6 h-6 justify-between rounded-full bg-indigo-200" />
				</div>
			</div>
			
			<div class="pt-1 px-2">
				<h1 class="font-extrabold text-lg">Card Details</h1>
		  	</div>
			
			<div class="px-2 flex flex-col">
				<p class="p-4 bg-indigo-100 opacity-90 rounded-lg mb-2 text-gray-400" [style.backgroundColor]="brandColor">Card Number</p>
				<p class="p-4 bg-indigo-100 opacity-90 rounded-lg text-gray-400" [style.backgroundColor]="brandColor">Name on Card</p>
		  	</div>
  
		  	<div class="px-2 pt-4">
				<h1 class="font-extrabold text-lg">Contact Information</h1>
		  	</div>
		  	<div class="px-2">
				<p class="p-4 mb-2 bg-indigo-100 opacity-90 rounded-lg text-gray-400" [style.backgroundColor]="brandColor">Email Address</p>
		  </div>
		</div>
  
		<div class="pt-4 flex justify-center">
			<button 
			  type="button" 
			  class=" bg-blue-700 hover:bg-blue-800 w-full h-16 sm:h-20"
			  [ngClass]="{
				'rounded-full': buttonShape === 'pill' || !buttonShape,  
				'rounded-lg': buttonShape === 'rounded',  
				'border': buttonShape === 'edgy'  
			  }">
			   <div class="flex flex-row justify-between px-4">
					<p class="p-3 text-white">Pay by card</p>
					<p class="p-3 text-white font-extrabold">8,00 kr »</p>
			  	</div>
			</button>
		</div>
		
		
		<div class="flex flex-row justify-center p-2">
			<div class="p-1">
				<img src="icons/lockIcon.png" class="w-6 h-4 " />
			</div>
			
			<h3 class="text-neutral-500 text-md">Secure payments powered by</h3>
		  	<img src="icons/logo.svg" class="w-20 gap-2" />
		</div>
  
		<div class="flex justify-center ">
		  <img [src]="logoUrl" class="w-52 h-20"/>
		</div>
		<div class="flex justify-center p-2">
		  <p class="text-indigo-950 py-2 text-md">Test AB(Org. No. 5590637665)</p>
		</div>
		<div class="flex justify-center">
		  <p class="text-indigo-950 text-md">Akshaya apartments, 11121 LEKSAND</p>
		</div>
		<div class="flex flex-row justify-center p-4">
		  <div class="flex flex-row pr-4">
			<img src="icons/orangeLink.svg" class="rotate-45" />
			<a href="" class="text-orange-600 text-md underline">Terms and Conditions</a>
		  </div>
		  <div class="flex flex-row">
			<img src="icons/blackLink.svg" class="rotate-45" />
			<p class="text-indigo-950 text-md">Privacy Policy</p>
		  </div>
		</div>
	  </form>
	</div>
  </div>
  
